@font-face {
  font-family: thicc;
  src: url(HelveticaNeueLTBlkEx.ttf);
}

@font-face {
  font-family: pixel;
  src: url(MatchupPro.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 24px;
  line-height: 1.25em;
  font-family: thicc;
  text-transform: uppercase;
}

html, body {
  overflow-x: hidden;
  overflow-y: visible;
}

body {
  background: #FFE2F2;
  padding: 1em;
  border: 16px solid blue;
  color: blue;
  min-height: 100vh;
  background-image: url('tilep.png');
  background-position: 0 0;
  background-size: 160px 160px;
  animation: scrollWallpaper 10s linear infinite;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header br {
  line-height: 1em;
}

h4 {
  font-size: .75em;
}

img#texas {
  width: 42px;
  height: 42px;
  margin-left: .5em;
}

#date {
  margin-top: 4em;
}

h1 {
  font-size: 10em;
  text-align: center;
}

#distortion-text {
  top: -1.5em;
  left: .5em;
}

.gradient-stroke-text {
  padding-right: 4px;
  padding-left: 4px;
  background: -webkit-linear-gradient(0deg, blue 0%, #FF8CE3 50%, #FC1524 100%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: #FFE2F2;
}

h2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 110px;
  text-align: center;
  font-size: 1.2em;
  letter-spacing: .6em;
  padding-left: .75em;
}

section {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 20em;
  position: relative;
}

h3 {
  text-transform: none;
  margin-bottom: 1em;
  position: relative;
}

#prompt {
  width: 70%;
  min-width: 8em;
}

input, textarea {
  font-size: .75em;
  padding: .5em;
  padding-bottom: .25em;
  background: #FFE2F2;
  border: 2px solid blue;
  border-radius: 4px;
  margin-bottom: .5em;
  width: 100%;
  color: blue;
}

input:required, textarea:required {
  box-shadow: none;
}

input:focus, textarea:focus {
  box-shadow: 0 0 0 2px blue;
  outline: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/* Form submission */

input:disabled,
textarea:disabled,
button:disabled {
  opacity: .5;
}

#form.success #confirmation,
#prompt, input, textarea, button {
  transition: transform .5s ease-out, opacity .5s linear;
}

#form.success #prompt,
#form.success input,
#form.success textarea,
#form.success button {
  opacity: 0;
  transform: translateY(100px);
  pointer-events: none;
}

#prompt, #confirmation {
  display: inline-block;
}

#confirmation {
  opacity: 0;
  transform: translateY(-100px);
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding: 0 15%;
}

#confirmation span {
  display: inline-block;
  font-family: pixel;
  line-height: .75em;
  margin-top: .5em;
}

#confirmation img {
  margin-top: 1em;
  width: 100px;
  height: 40px;
}

#form.success #confirmation {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}

textarea {
  resize: none;
  height: 4.75em;
}

button {
  border: none;
  background: none;
  margin-top: .25em;
  padding: .5em;
  cursor: pointer;
  color: red;
  transition: transform .25s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

button div {
  margin: 0 .75em;
  margin-bottom: -.25em;
}

button:hover, button:focus {
  transform: scale(1.05);
  outline: none;
}

button:active {
  transform: scale(.95);
}

.face {
  width: 32px;
  height: 32px;
  animation-fill-mode: both;
}

button:hover .face:first-child {
  animation: sway 2s linear infinite;
}

button:hover .face:last-child {
  animation: sway 2s linear infinite reverse;
}

footer {
  background: #FFE600;
  color: red;
  margin: 6em -2em 1em;
  font-size: .5em;
  padding: .5em 0 .6em;
  white-space: nowrap;
}

footer div {
  display: inline-block;
  animation: marquee 20s linear infinite;
  padding: 0 1em;
}

footer div, footer a {
  font-family: pixel;
}

.gradient {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
  background: linear-gradient(#FFE2F2 0%, rgba(255,226,242,0) 100%);
}

@keyframes scrollWallpaper {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -320px 320px;
  }
}

@keyframes sway {
  0% {
    transform: rotateZ(0);
  }
  25% {
    transform: rotateZ(-15deg);
  }
  75% {
    transform: rotateZ(15deg);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Mobile */
@media(max-width: 640px) {
  header {
    flex-direction: column;
  }

  #deets {
    align-self: flex-end;
    margin-top: .5em;
  }

  header h4, header br {
    line-height: 22px;
  }

  #date {
    margin-top: -4em;
    transform: scale(.75) translateY(33%);
    margin-bottom: 1em;
  }

  #confirmation {
    margin-top: 4em;
  }
}

@media(max-width: 520px) {
  .desktop {
    display: none;
  }

  header h4#us, header #us br {
    line-height: 20px;
  }

  #texas {
    margin-top: .5em;
  }

  #date {
    transform: rotateZ(45deg) scale(.75) translateY(15%);
  }

  form {
    width: 100%;
  }
}

/* Desktop only */
@media(min-width: 520px) {
  .mobile {
    display: none;
  }
  #deets {
    display: flex;
    align-items: center;
  }
}



/* Modular */

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.right {
  text-align: right;
}
