@font-face {
  font-family: thicc;
  src: url(HelveticaNeueLTBlkEx.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 24px;
  font-family: thicc;
  text-transform: uppercase;
}

body {
  background: #FFE2F2;
  padding: 1em;
  border: 20px solid blue;
  color: blue;
  min-height: 100vh;
  background-image: url('tile.png');
  background-position: 0 0;
  background-size: 200px 200px;
  animation: scrollWallpaper 10s linear infinite;
}

header {
  display: flex;
  justify-content: space-between;
}

header div {
  font-size: .75em;
}

section#date {
  margin-top: 2em;
}

h1 {
  font-size: 10em;
  text-align: center;
}

#distortion-text {
  top: -1.5em;
}

.gradient-stroke-text {
  padding-right: 4px;
  background: -webkit-linear-gradient(0deg, blue 0%, #FF8CE3 50%, #FC1524 100%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: #FFE2F2;
}

h2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 110px;
  text-align: center;
  font-size: 1.2em;
  letter-spacing: .6em;
  /* transform: scale(1, -1); */
}

section {
  display: flex;
  justify-content: center;
}

h3 {
  text-transform: none;
  margin-bottom: 1em;
  width: 70%;
}

form#rsvp {
  display: flex;
  flex-direction: column;
  max-width: 20em;
}

input, textarea {
  font-size: .75em;
  padding: .5em;
  padding-bottom: .25em;
  background: #FFE2F2;
  border: 2px solid blue;
  border-radius: 4px;
  margin-bottom: .5em;
  color: blue;
}

textarea {
  resize: none;
  height: 5.8em;
}

button {
  border: none;
  background: none;
  padding: .5em;
  cursor: pointer;
  color: red;
}

.gradient {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 20px solid blue;
  pointer-events: none;
  z-index: -1;
  background: linear-gradient(#FFE2F2 0%, rgba(0,0,0,0) 100% )
}

@keyframes scrollWallpaper {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -400px 400px;
  }
}

/* Modular */

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.right {
  text-align: right;
}